
body {
  /* margin: 0;
  height: 100vh; */
	background: rgb(1, 1, 22);
  /* align-items: center; */
  /* justify-content: center; */
}

.home-return {
  color: #daa520 !;
  font-size: 20px;
  position:absolute;
  top:0;
  left:0;
  padding: 10px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: goldenrod;
}

.buttonred {
  font: bold 12px Arial;
  text-decoration: none;
  background-color: #ec0c0c;
  color: #000000;
  padding: 2px 6px 2px 6px;
  border-radius: 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  transition-duration: 0.4s;

}

.buttonred:hover {
  background-color: #fffdfd; /* Green */
  color: red;
}


.buttonyellow {
  font: bold 12px Arial;
  text-decoration: none;
  background-color: #e2f104;
  color: #000000;
  padding: 2px 6px 2px 6px;
  border-radius: 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  transition-duration: 0.4s;

}

.buttonyellow:hover {
  background-color: #fffdfd; /* Green */
  color: yellow;
}

.buttongreen {
  font: bold 12px Arial;
  text-decoration: none;
  background-color: #0de918;
  color: #000000;
  padding: 2px 6px 2px 6px;
  border-radius: 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  transition-duration: 0.4s;

}

.buttongreen:hover {
  background-color: #fffdfd; /* Green */
  color: green;
}