
body {
	background: rgb(1, 1, 22);
}


div:not(.home-return) a{
  box-sizing: border-box;
  display:inline-block;
  height:50px ;
  vertical-align: middle;
  line-height: 50px;

}

div{
  display: block;

}

div.inbox1{
  display:inline-block;
  width: 200px;
  
}

div.inbox2{
  display:inline-block;
  width: 600px;
  
}

div.sbox .abutton{
  display: inline-block;
  font-size: 16px;
  background-color: goldenrod;
  
}
div.sbox {

  margin-bottom: 15px;
}

div:not(.home-return) a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0%;
  border: 1px solid black;
}


.home-return {
	color: #daa520 !;
	font-size: 20px;
	top:0;
	left:0;
	padding: 0px 0px 50px 0px;
}

a#home-return:link, a#home-return:visited, a#home-return:hover, a#home-return:active {
  text-decoration: none;
  color: goldenrod;
}

span.ON {
  color:red;

}

span.OFF {
  color:grey;
}

.leds{
  display:none;

}

span.ON~img.rled-img{
  display:inline-block;
}

span.OFF~img.uled-img{
  display:inline-block;
}