<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/button.css'/>
   </head>
   <body>
		<h2> <u>Status</u> </h2>
		<h3> RED LED  =  {{ red  }}</h3>
		<h3> YELLOW LED  =  {{ yellow  }}</h3>
		<h3> GREEN LED  =  {{ green  }}</h3>
		<br>
		<h2> <u>Commands</u> </h2>
		<h3> 
			RED LED  = 
			<a href="/red/on" class="buttonred">ON</a>  
			<a href="/red/off"class="buttonred">OFF</a>
		</h3>
		<h3> 
			YELLOW LED  = 
			<a href="/yellow/on" class="buttonyellow">ON</a>  
			<a href="/yellow/off"class="buttonyellow">OFF</a>
		</h3>
		<h3> 
			GREEN LED  = 
			<a href="/green/on" class="buttongreen">ON</a>  
			<a href="/green/off"class="buttongreen">OFF</a>
		</h3>
		
   </body>
</html>
