<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
	  <link rel="stylesheet" href='../static/button.css'/>
	  <style>
		body {
		  color: goldenrod;
		}
		
		h3 {
		  color: goldenrod;
		}
		</style>
   </head>
   <body>
		<div class="home-return">
			<a href="/" id="home-return" class ="home-button" >Home</a> 
		</div>

		<div class ="sbox">
			<div class = "inbox1">
				<span class="rled oled {{ red  }}"></span>

				<img class = "rled-img leds" alt="kirmizi led" src="../static/images/red.png" width="25px" height="48px">
				<img class = "uled-img leds" alt="kapali led" src="../static/images/grey.png" width="25px" height="48px">

			</div>
			<div class = "inbox2">
				<div class ="abutton">
					<a href="/red/on" class="buttonred">ON</a>  
				</div>
				<div class ="abutton">		
					<a href="/red/off"class="buttonred">OFF</a>
				</div>
			</div>

		</div>
		
		<div class ="sbox">
			<div class = "inbox1">
				<span class="yled oled {{ yellow  }}"></span>

				<img class = "yled-img leds" alt="sari led" src="../static/images/yellow.png" width="25px" height="48px">
				<img class = "uled-img leds" alt="kapali led" src="../static/images/grey.png" width="25px" height="48px">
			</div>
			<div class = "inbox2">
				<div class ="abutton">
					<a href="/yellow/on" class="buttonyellow">ON</a>  
				</div>
				<div class ="abutton">
					<a href="/yellow/off"class="buttonyellow">OFF</a>
				</div>
			</div>

		</div>

		<div class ="sbox">
			<div class = "inbox1">
				<span class="gled oled {{ green  }}"></span>

				<img class = "rled-img leds" alt="yesil led" src="../static/images/green.png" width="25px" height="48px">
				<img class = "uled-img leds" alt="kapali led" src="../static/images/grey.png" width="25px" height="48px">
			</div>
			<div class = "inbox2">
				<div class ="abutton">
					<a href="/green/on" class="buttongreen">ON</a>  
				</div>				
				<div class ="abutton">
					<a href="/green/off"class="buttongreen">OFF</a>
				</div>
			</div>
				
			</div>

		</div>
		
   </body>
</html>
