<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
      <h1>Hallo, SEPPIIIIIYYYYYYYYYY!</h1>
      <h2>The date and time on the server is: <b>{{ time }}</b></h2>
      <img src="/static/sep.jpeg">
      <table>
         <tr>
            <th>YAHUSUH</th>
            <th>QARIZMA</th>
            <th>SHEKILL</th>
         </tr>
         <tr>
            <td>10 NUMARA</td>
            <td>10 NUMERO</td>
            <td>9 YILDIZ</td>
         </tr>
      </table>
   </body>
</html>
