<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
      <nav>
         <ul>
           <li>
             home
             <span></span><span></span><span></span><span></span>
           </li>
           <li>
             products
             <span></span><span></span><span></span><span></span>
           </li>
           <li>
             <a href="/control" >  
               control
               <span></span><span></span><span></span><span></span>
             </a>
           </li>
           <li>
             contact
             <span></span><span></span><span></span><span></span>
           </li>
         </ul>
       </nav>
   </body>
</html>



